.tutorCard {
  height: 35.5vw;
  width: 29.27vw;
  border-radius: 0.78vw;
  display: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.1vw;
  padding-right: 1.1vw;
  box-shadow: 0px 0px 5px 2px rgba(236, 55, 55, 0.1411764706);
  background: rgb(255, 255, 255);
}
.tutorCard .tutorPic {
  margin-top: 0.52vw;
  width: 18.35vw;
  height: 14.76vw;
  border-radius: 0.52vw;
  overflow: hidden;
}
.tutorCard .tutorPic .picture {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.tutorCard .tutorPic .picture .subPicture {
  position: absolute;
  top: 0;
  right: -0.31vw;
  display: inline;
}
.tutorCard .tutorInfo {
  width: 18.5vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1vw;
}
.tutorCard .tutorInfo .name {
  color: rgba(0, 0, 0, 0.6980392157);
  font-size: 1.241vw;
  width: 18vw;
  height: 1.3vw;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-align: left;
  gap: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tutorCard .tutorInfo .name .verifyicon {
  width: 1.042vw;
  height: 1.042vw;
  align-self: center;
}
.tutorCard .tutorInfo .credentials {
  width: 18.4vw;
  height: 2.44vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tutorCard .tutorInfo .credentials .subName {
  width: 4.4vw;
  height: 1.44vw;
  color: #989898;
  font-size: 1vw;
}
.tutorCard .tutorInfo .credentials .dot {
  width: 0.256vw;
  height: 0.256vw;
  background-color: #989898;
  border-radius: 50%;
}
.tutorCard .tutorInfo .credentials .experience {
  width: 5.75vw;
  height: 1.46vw;
  border-radius: 0.26vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #989898;
  font-size: 1vw;
}
.tutorCard .tutorInfo .credentials .language {
  width: 4.48vw;
  height: 0.98vw;
  border-radius: 0.26vw;
  color: #989898;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tutorCard .tutorInfo .credentials .language .hindi,
.tutorCard .tutorInfo .credentials .language .english {
  width: 1.56vw;
  height: 0.98vw;
  border: 0.26vw;
  border: 0.5px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 0.26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1vw 0.1vw 0.2vw 0.2vw;
  font-size: 1vw;
}
.tutorCard .tutorInfo .bottomLine {
  width: 18.5vw;
  height: 0vw;
  border: 0.02vw solid #aaaaaa;
  margin-top: 0.57vw;
}
.tutorCard .tutorInfo .subjects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17.07vw;
  height: 7.03vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
}
.tutorCard .tutorInfo .subjects .heading {
  color: #000000;
  font-weight: 500;
  width: 7vw;
  height: 1.57vw;
  padding-bottom: 0.5vw;
}
.tutorCard .tutorInfo .subjects .totalSubjects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15.07vw;
  height: 0.677vw;
}
.tutorCard .tutorInfo .subjects .totalSubjects .subjectName {
  padding-top: 0.2vw;
  color: #ec5f70;
}
.tutorCard .tutorInfo .subjects .totalSubjects .reddot {
  width: 0.256vw;
  height: 0.256vw;
  background-color: #ec5f70;
  border-radius: 50%;
}
.tutorCard .tutorInfo .aboutTutor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13.07vw;
  height: 5.03vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
}
.tutorCard .tutorInfo .aboutTutor .heading {
  color: #000000;
  font-weight: 500;
  width: 10vw;
  height: 1.57vw;
  padding-bottom: 0.5vw;
}
.tutorCard .tutorInfo .aboutTutor .classInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18.5vw;
  height: 2.677vw;
}
.tutorCard .tutorInfo .aboutTutor .classInfo .subscribers,
.tutorCard .tutorInfo .aboutTutor .classInfo .totalClasses {
  display: flex;
  width: 8.8vw;
  height: 2.4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tutorCard .tutorInfo .aboutTutor .classInfo .subscribers .left,
.tutorCard .tutorInfo .aboutTutor .classInfo .totalClasses .left {
  height: 2.2vw;
  width: 2.2vw;
  color: #ec5f70;
  font-size: 1vw;
  border: 1px solid #ec5f70;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.tutorCard .tutorInfo .aboutTutor .classInfo .subscribers .right,
.tutorCard .tutorInfo .aboutTutor .classInfo .totalClasses .right {
  color: #ec5f70;
  font-size: 1vw;
  font-weight: 500;
}
.tutorCard .tutorInfo .viewProfilebtn {
  width: 18.73vw;
  height: 2.34vw;
  padding: 0.93vw;
  gap: 0.13vw;
  border-radius: 0.62vw;
  border: 1px solid #ec5f70;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec5f70;
  align-self: center;
  background: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 500;
}/*# sourceMappingURL=tutorCard.module.css.map */