.classcard {
  cursor: pointer;
}
.classcard .cardtop {
  background: rgb(236, 236, 236);
}
.classcard .maincard {
  border: 4px solid rgb(236, 236, 236);
}

.selectedclasscard .cardtop {
  background: rgb(236, 95, 112);
}
.selectedclasscard .maincard {
  border: 4px solid rgb(248, 32, 131);
}

.cardtop {
  width: 7.812vw;
  height: 1.041vw;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.maincard {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 20.833vw;
  height: 10.416vw;
  border-radius: 0px 10px 10px 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.maincard .cardheading {
  width: 18.854vw;
  height: 2.29vw;
  top: 35px;
  left: 15px;
  padding: 0px 112px 0px 0px;
  gap: 22px;
  display: flex;
}
.maincard .cardheading .cardProfile {
  height: 2.29vw;
  width: 2.29vw;
  border-radius: 40px;
  border: 0.4px solid rgb(171, 171, 171);
}
.maincard .cardheading .groupheading {
  width: 9.583vw;
  height: 2.239vw;
}
.maincard .cardheading .groupheading .cardclass {
  font-family: Poppins;
  font-size: 0.625vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}
.maincard .cardheading .groupheading .cardsubject {
  font-family: Poppins;
  font-size: 1.041vw;
  font-weight: 600;
  color: var(--New-red-color, rgb(236, 95, 112));
}
.maincard .carddetails {
  width: 15.954vw;
  height: 6.583vw;
  display: flex;
  justify-content: space-between;
}
.maincard .carddetails .cardicon {
  width: 1.575vw;
  height: 1.5625vw;
  margin-right: 8px;
}
.maincard .carddetails .mode {
  width: 1.77vw;
  height: 0.937vw;
  font-family: Poppins;
  font-size: 0.625vw;
  font-weight: 500;
  text-align: left;
  color: rgb(208, 78, 98);
}
.maincard .carddetails .modestate {
  width: 2.604vw;
  height: 0.573vw;
  font-family: Poppins;
  font-size: 0.781vw;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}
.maincard .carddetails .textcontent {
  display: flex;
  flex-direction: column;
}
.maincard .carddetails .carddetailsleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.maincard .carddetails .carddetailsleft .modecontent {
  width: 4.687vw;
  height: 1.667vw;
  display: flex;
}
.maincard .carddetails .carddetailsleft .strengthcontent {
  width: 4.687vw;
  height: 1.667vw;
  display: flex;
}
.maincard .carddetails .carddetailsright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.maincard .carddetails .carddetailsright .timecontent {
  width: 4.687vw;
  height: 1.667vw;
  display: flex;
}
.maincard .carddetails .carddetailsright .timecontent .timestate {
  width: 5.729vw;
  height: 0.573vw;
  font-family: Poppins;
  font-size: 0.625vw;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}
.maincard .carddetails .carddetailsright .wscontent {
  width: 4.687vw;
  height: 1.667vw;
  display: flex;
}
.maincard .carddetails .carddetailsright .wscontent .ws {
  width: 5.364vw;
  height: 0.937vw;
  font-family: Poppins;
  font-size: 0.625vw;
  font-weight: 500;
  text-align: left;
  color: rgb(208, 78, 98);
}
.maincard .carddetails .carddetailsright .wscontent .wsstate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.458vw;
  height: 0.833vw;
  font-family: Poppins;
  font-size: 0.52vw;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(187, 187, 187);
}
.maincard .carddetails .carddetailsright .wscontent .wsstate .selectedday {
  width: 0.833vw;
  height: 0.833vw;
  border-radius: 1.47px;
  background: rgb(208, 78, 98);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=classcard.module.css.map */